.ipynb_checkpoints 
*.xls
*.xlsx
*.aux
*.out
*.toc
*.blg
*.bbl
*.aux



Reporte c19 UGCC/

CR-Coronavirus SSVQ/

Coronavirus/

Covid-BD/


##
## esto es proyectos latex
## 

# LaTeX temporary files
*.aux
*.log
*.toc

# PDF output - usually a bad idea to keep this in Git
# *.pdf

# Latexmk
*.fdb_latexmk

# SyncTeX
*.synctex.gz

# LaTeX Beamer
*.snm
*.vrb
*.nav
*.out

# BibTeX
*.bbl
*.blg

# Sublime Text Project Files (usually contain absolute paths)
*.sublime-project
*.sublime-workspace
Resultado test/rutificador/PadronElectoralChile2020.tar.gz

Resultado test/rutificador/PadronElectoralChile2020.txt

Movilidad/BDs/Movilidad2020-06-14.csv

Movilidad/BDs/Movilidad2020-06-15.csv

Movilidad/BDs/Movilidad2020-06-20.csv

Movilidad/BDs/Movilidad2020-06-22.csv

Movilidad/BDs/Movilidad2020-06-28.csv

Movilidad/BDs/Movilidad2020-06-29.csv
