pandas
numpy
matplotlib.pyplot
matplotlib.dates

scipy 
datetime
urllib.request
lifelines

# para tratar de poner espanol
from datetime import date, datetime, time
from babel.dates import format_date, format_datetime, format_time, format_timedelta, Locale
import locale                                    # para tratar de poner espanol
locale.setlocale(locale.LC_ALL,'es_CL.UTF-8')  
